<footer class="footer">
  <!-- <div class="footer-contact"> -->
    <div class="container">
      <h2 class="navbar-text">Sinta-se confortável para nos contatar por e-mail</h2>
      <a type="button" class="btn btn-outline-light" href="mailto:{{ site.email }}">Clique aqui!</a>
    </div>

    <div class="social">
          <a href="https://www.youtube.com/@robolablaboratorioderoboti6134"><i class="bi bi-youtube"></i> YouTube do
            RoboLab</a>
          <a href="https://www.instagram.com/robolabrestinga/"><i class="bi bi-instagram"></i> Instagram do RoboLab</a>
    </div>
  <!-- </div> -->
</footer>