<!DOCTYPE html>
<html lang="pt-BR">

<!-- HEAD DA PÁGINA -->
{% include head.html %}

<body>

    <!-- NAVEGAÇÃO DO SITE -->
    {% include header.html %}

    <!-- CORPO PRINCIPAL -->
    <main>

        <!-- HOME DA PÁGINA -->
        <section class="section home">
            <div class="section-body">
                <!-- TEXTO -->
                <div>
                    <h1 class="section-title">{{ page.home.title }}</h1>
                    <h3 class="section-description">{{ page.home.description }}</h3>
                </div>

                <!-- CAROUSEL DE IMAGENS -->
                <div class="section-img">
                    <div id="carousel" class="section-img carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <!-- <button type="button" data-bs-target="#carousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button> -->
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{ '/assets/img/galeria/logica_para_sensores_1.jpg' | relative_url }}"
                                    class="d-block" alt="logica_para_sensores_1">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ '/assets/img/galeria/robot_1.jpg' | relative_url }}" class="d-block"
                                    alt="robot_1">
                            </div>
                            <!-- <div class="carousel-item">
                        <img src="{{ '/assets/img/galeria/bike.jpeg' | relative_url }}" class="d-block" alt="Cycling">
                    </div> -->
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </section>

        {{ content }}
    </main>

    <!-- INFORMAÇÕES DE CONTATO -->
    {% include footer.html %}

</body>

</html>